In [11]:
# !pip install -r requirements.txt

In [12]:
import pandas as pd
import numpy as np

In [13]:
np.random.seed(777)

In [14]:
full_df = pd.read_csv('data/star_classification.csv')

In [15]:
size = len(full_df.index)

In [17]:
df = full_df.sample(int(size/10))
df.to_csv('data/star_classification_10.csv')

In [18]:
df.columns

Index(['obj_ID', 'alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'run_ID',
       'rerun_ID', 'cam_col', 'field_ID', 'spec_obj_ID', 'class', 'redshift',
       'plate', 'MJD', 'fiber_ID'],
      dtype='object')

In [21]:
X_full = df.loc[:, df.columns != 'class']
y = df['class']

In [22]:
X_full.describe()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.0000,10000.00000
mean,1.237665e+18,177.012948,24.238264,22.048933,20.610557,19.631032,19.075814,18.756601,4506.508900,301.0,3.486200,186.319600,5.787696e+18,0.584338,5140.397800,55589.1266,445.75930
std,8.498652e+12,96.908939,19.595958,2.241045,2.028274,1.857609,1.758920,1.765398,1978.754121,0.0,1.584759,146.735887,3.313576e+18,0.745315,2943.031219,1803.7146,272.51705
min,1.237646e+18,0.013337,-17.433946,14.151990,10.730970,9.822070,9.469903,9.612333,109.000000,301.0,1.000000,11.000000,3.085832e+17,-0.006863,274.000000,51609.0000,1.00000
25%,1.237659e+18,127.137128,5.551182,20.333015,18.982087,18.143575,17.747725,17.463785,3187.000000,301.0,2.000000,83.000000,2.831996e+18,0.057078,2515.250000,54208.0000,217.00000
50%,1.237663e+18,180.936260,23.701620,22.133220,21.085140,20.106915,19.402090,19.000280,4192.000000,301.0,3.000000,147.000000,5.652167e+18,0.422845,5020.000000,55894.0000,426.00000
75%,1.237668e+18,232.981945,40.284511,23.609695,22.107055,21.031005,20.404990,19.905833,5330.000000,301.0,5.000000,242.000000,8.325291e+18,0.712961,7394.250000,56780.0000,642.00000
max,1.237681e+18,359.958118,82.947622,27.811240,27.532110,27.334760,24.473360,24.782730,8162.000000,301.0,6.000000,989.000000,1.412684e+19,6.867749,12547.000000,58932.0000,1000.00000

In [28]:
X = X_full[['obj_ID', 'alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift', 'plate']]
X.describe()

,obj_ID,alpha,delta,u,g,r,i,z,redshift,plate
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.237665e+18,177.012948,24.238264,22.048933,20.610557,19.631032,19.075814,18.756601,0.584338,5140.397800
std,8.498652e+12,96.908939,19.595958,2.241045,2.028274,1.857609,1.758920,1.765398,0.745315,2943.031219
min,1.237646e+18,0.013337,-17.433946,14.151990,10.730970,9.822070,9.469903,9.612333,-0.006863,274.000000
25%,1.237659e+18,127.137128,5.551182,20.333015,18.982087,18.143575,17.747725,17.463785,0.057078,2515.250000
50%,1.237663e+18,180.936260,23.701620,22.133220,21.085140,20.106915,19.402090,19.000280,0.422845,5020.000000
75%,1.237668e+18,232.981945,40.284511,23.609695,22.107055,21.031005,20.404990,19.905833,0.712961,7394.250000
max,1.237681e+18,359.958118,82.947622,27.811240,27.532110,27.334760,24.473360,24.782730,6.867749,12547.000000